{{ if .Page.ShowMobileHeader }}
<div class="mobile-reachability-header">{{ .Page.Title }}</div>
{{ end }}

{{ if .Page.HeadWidgets }}
<div class="head-widgets" data-editor-zone="head-widgets">
    {{- range .Page.HeadWidgets }}
    {{- .Render }}
    {{- end }}
</div>
{{ end }}

<div class="page-columns">
{{- range $i, $column := .Page.Columns }}
    <div class="page-column page-column-{{ $column.Size }}" data-column-index="{{ $i }}" data-column-size="{{ $column.Size }}" data-editor-zone="columns.{{ $i }}.widgets">
        {{- range $column.Widgets }}
        {{- .Render }}
        {{- end }}
    </div>
{{- end }}
</div>
